node_modules/
.env
supabase/deploy*.sql
supabase/.secrets/
art/sesler/kenney/
art/sesler/kenney_jingles/
art/sesler/kenney_rpg/
art/sesler/kenney_impact/
art/sesler/*.zip
art/sesler/kenney_interface/
art/sesler/kenney_ui/
art/sesler/oga_coins/
